{% extends 'base.html' %}

{% block content %}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo natus ex repellendus magnam vitae earum expedita maxime nam nesciunt recusandae tenetur ad accusamus facilis excepturi sed nihil ullam, voluptatum libero explicabo minima ut iste tempora. Nesciunt consectetur quidem ipsa dolores magni porro, tempore nulla culpa deserunt suscipit quis exercitationem totam deleniti illo eum optio error quos odio unde, enim, odit mollitia id autem placeat. Unde necessitatibus deleniti, laborum tempore consectetur sed fuga amet expedita commodi numquam harum vel explicabo deserunt sunt aut impedit veritatis earum possimus sit asperiores et illo magnam rerum? Minus quisquam assumenda rerum cum consequatur ut molestiae?</p>
{% endblock %}