{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ publication }}</title>

    <link rel="stylesheet" href="{% static 'magazine/reader.css' %}">
</head>
<body>
    <h1 class="magazine-title">The Monument Street Muse</h1>
    <h2 class="publication-title">{{ publication }}</h2>
    <span class="publication-date">{{ publication.publication_date }}</span>
    <main>
        {% for scriptum in publication.scripta.all %}
        <section class="scriptum">
            <h3 class="scriptum-title">{{ scriptum.title }}</h3>
            <span class="author">{{ scriptum.author_pseudonym_or_name }}</span>
            <span class="graduation-year">{{ scriptum.author.abbreviated_graduation_year }}</span>
            <div class="content">
                {{ scriptum.text_rendered | safe }}
            </div>
        </section>
        {% endfor %}
    </main>
</body>
</html>