{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ publication }}</title>

    <link rel="stylesheet" href="{% static 'magazine/reader.css' %}">
</head>
<body>
    <h1>{{ publication }}</h1>
    <main>
        <section class='editor_note'>
            {{ publication.editor_note_rendered | safe }}
        </section>
    </main>
</body>
</html>