{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | The Monument Street Muse</title>

    <link rel="stylesheet" href="{% static 'global.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav>
        <span class="magazine-title">The Monument Street Muse</span>
        <ul class="links">
            <a class="button" href="{% url 'home' %}">About</a>
            <a class="button" href="{% url 'publications' %}">Publications</a>
            <a class="button" href="{% url 'publications' %}">Contact</a>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <a href="/admin">Admin Site</a>
    </footer>
</body>
</html>